<h1>{{Title}}</h1>
<div>
  <div [formGroup]="myForm">
    <div class="form-row">
      <label for="search_text">Поиск:<span class="red-color">*</span></label>
      <input class="form-control me-2" type="search" formControlName="text" id="search_text" name="search_text" placeholder="текст" required>
      @if ((!myForm.controls.text.valid && myForm.controls.text.touched) || (!myForm.valid && formSubmitted)) {
        <small class="red-color">Это обязательное поле для заполнения.</small>
      }
    </div>
    <div class="form-row ">
      <div class="col-4 form-column">
        <label for="search_quartile">Фильтр по квартилям:</label>
        <select id="search_quartile" name="search_quartile" formControlName="quartile">
          <option value="0">None</option>
          <option value="1">Q1-Q4</option>
          <option value="3">Q1-Q3</option>
          <option value="7">Q1-Q2</option>
          <option value="15">Q1 only</option>
        </select>
      </div>
      <div class="col-4 form-column">
        <label for="search_country">Страна журнала:</label>
        <select id="search_country" name="search_country" formControlName="country">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
    </div>
    <div>
      <div class="center">
        <button class="btn btn-outline-success" (click)="onSubmitButton()">Поиск</button>
      </div>
    </div>
  </div>
</div>
<div>
  <div *ngIf="loading">
    <div id="loading">
      <img id="loading-image" ngSrc="/assets/img/Loading_2.gif"
           alt="Loading..." height="198" width="198"/>
    </div>
  </div>
  <div *ngIf="data">
    <!-- Здесь ваша логика отображения данных -->
    <!--<pre>{{ data | json }}</pre>-->
    @if (total > 0) {
      <div class="result-total">
        <p>Найдено значений: {{total}} (Ограничение 10000 шт.)</p>
      </div>
    }
    <div class="result-row" *ngFor="let model of data_models; let idx = index">
      <p>{{idx+1}}. <a href="/pubmed/{{model.PMID}}" target="_blank">{{model.Title}}</a></p>
      <p>{{model.Author_initials}}</p>
      <p>{{model.journal_nlm}}. {{model.date_epub}}; {{model.book_volume}}({{model.book_issue}}): {{model.book_first_page}}. doi: {{model.DOI}}</p>
      <p>PMCID: {{model.PMCID}} PMID: {{model.PMID}}</p>
    </div>
  </div>
  <div *ngIf="error">
    {{ error }}
  </div>
</div>
